.rojo{
    color: darkblue;
}

.container{
    background-color: rgb(120, 144, 197);
    display: flex;
    justify-content: space-between;
}

.categories{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link{
    background-color: white;
    border: solid black;
    padding: 4px;
    text-decoration: none;
    color: black;
}